<!DOCTYPE HTML>
<html lang="en">
<head>
<meta  charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>The Government of Rivers State</title> 

<!-- Favicons -->
<link rel="apple-touch-icon" sizes="57x57" href="img/img-icon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="img/img-icon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="img/img-icon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="img/img-icon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="img/img-icon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="img/img-icon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="img/img-icon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="img/img-icon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="img/img-icon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="img/img-icon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="img/img-icon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="img/img-icon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="img/img-icon/favicon-16x16.png">
<meta name="msapplication-TileImage" content="img/img-icon/ms-icon-144x144.png">

<!-- Styles -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Karla:400,700i,700|Poppins:800" rel="stylesheet">
<link href="css/style.css" rel="stylesheet" media="screen">
<link href="css/modifications.css" rel="stylesheet" media="screen">
<link href="css/xl.css" rel="stylesheet" media="screen">
</head>
<body>
  
    <!-- Loader -->

    

    
    
   <%- include includes/header %>
  <!-- Layout -->

  <div class="layout" style="background: #F2F2F2; ">
    
    <!-- Home -->
    <style type="text/css">
      .highlight{
        color:rgb(0,177,230);
        font-family: '';
        font-size: 0.95em;
        margin:0px;
      }
      .expand{
        cursor: pointer;
      }
      .statement{
        font-family: '';
      }
      .caption{
        font-family: '';
        font-weight: bold;
      }
    </style>
    <section class="section" style="background: #F2F2F2; margin-bottom:0px; ">
      <div class="container">
        <div class="row">
          <div class="col-md-2 col-lg-2">
            
          </div>
          <style type="text/css">
            .search__input{
              color: white;
              background-color:#D9D9D9;
              padding:10px;
              outline: none;
              border:none;
              margin-top: 5%;
              font-family: 'Karla', sans-serif;
            }
            .search--btn{
              background: #0059E6;
              font-weight: bold;
              padding: 10px 30px;
              padding-bottom: 13px;
              margin-top:15%;
            }
          </style>
          <div class="col-md-10 col-lg-10">
            <div class="row">
              <form id="filterForm" method="post" action="/news" >
                <div class="col-md-3 col-lg-3 col-xs-6 col-sm-6">
                  <label for="title">Filter by Title</label>
                  <input class="search__input" type="text" name="title" id="title" placeholder="Youth Empowerment program">
                </div>
                <div class="col-md-3 col-lg-3 col-xs-6 col-sm-6">
                  <label for="author">Filter by Author</label>
                  <input class="search__input" type="text" name="author" id="author" placeholder="Oraye St. Franklyn">
                </div>
                <div class="col-md-3 col-lg-3 col-xs-6 col-sm-6">
                  <label for="date">Filter by Date</label>
                  <input class="search__input" type="text" name="date" id="date" placeholder="13/12/2018 or 13-12-2018">
                </div>
                <div class="col-md-3 col-lg-3 col-xs-6 col-sm-6">
                 <input type="submit" class=" search__input search--btn" name="apply" id="apply" value="APPLY">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <style type="text/css">
      .headline{
        margin:0px;
        display: inline-block;
        margin-left: 5%;
      }
      .news__summary{
        line-height: 0.9;
        font-size:0.8em;
        margin-top:1%;
        margin-bottom: 15px;
      }
      .news__details{
        font-size:0.7em; 
        margin:10px 0px

      }
      .news__heading{
        margin-top:3%;
        font-size:0.9em; 
        margin-bottom:0px; 
        font-weight: bold;
      }
    </style>

    <section class="blog-list section" style="margin-top:3%; ">
      <div class="container" style="margin-bottom: 0%;">
        <div class="row">
          <div class=" pull-right" style="display:inline-block">
            <h4 class="headline" style="font-size:1.5em; margin:auto; margin-bottom: 5%;">GOVERNMENT HEADLINES</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-2 col-md-2"></div>
          <div class="col-lg-10 col-md-10">
            <div class="row" id="news-box">
              <% for(var i = news.length - 1; i >= 0; i-- ){ %>
                <div class="col-lg-6 col-sm-12 col-xs-12 col-md-6" style="background: rgb(242,242,242); margin-top:2%; padding: 0px;">
                  <div class="col-lg-6 col-sm-6 col-xs-12 col-md-6" style="padding:0px">
                    <img style="margin-right:0px; padding:0px; margin-left: 0px; margin-right:0px; " src="<%- news[i]['main_image'] %>" class="img-responsive">
                  </div>
                  <div class="col-lg-6 col-sm-6 col-xs-12 col-md-6" style="padding-bottom:0%; ">
                    <h4 class="news__heading" ><%- news[i]['title'] %></h4>
                    <p class="news__details" ><%- ( new Date(news[i]['date_published'])).toLocaleDateString() %> | <%- news[i]['author'] %></p>
                    <p class="news__summary"  ><%- news[i]['summary'] %></p>
                    <p class="news__social" >
                      <a href="/news?id=news[i]['_id']" style=" font-size:0.8em; !important;">READ MORE</a>
                      <span class="pull-right" style="color:rgb(7,68,168); ">
                        <i class="fa fa-facebook " style="padding:0px 5px 0px 5px"> </i>
                        <i class="fa fa-twitter " style="padding:0px 5px 0px 5px"> </i>
                        <i class="fa fa-instagram " style="padding:0px 5px 0px 5px"> </i>
                      </span>
                    </p>
                  </div>
                </div>
              <% } %>
            </div>
          </div>
          
        </div>
        
      </div>
    
    </section>
     <style type="text/css">
      .product-holder {
        position: relative;
        display: block;
      }

      .plus-image {
        left: 50%;
        top: 20%;
        position: absolute;
        margin-top: -25px;
        margin-left: -25px;
        width: 10%;
      }
      .medium{
        margin:0 10px;
      }
      .medium:hover{
        text-decoration: underline;
      }
      .hundred{
        width:100%;
      }
    </style>
    <!-- media -->
    <section class="blog-list section" style="background:rgb(5, 68, 168); padding: 20px; margin-top: -5%;">
      
      <div class="container">
        <div class="row">
          <div class="col-lg-2 col-md-2"></div>
          
          <div class=" pull-right" style="display:inline-block">
            <p style="color:white; margin-top:20%; margin-left: -80px; font-family: 'Poppins', sans-serif; font-size: 1.5em;"><i class="fas fa-volume-up medium"></i><i class="fab fa-youtube medium"></i><i class="fas fa-book-open medium"></i><i class="fa fa-image medium"></i>MEDIA</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-2 col-md-2"></div>
          <div class="col-lg-10 col-md-10">
            <div class="row">
              <div class="col-md-8 col-sm-6 col-xs-12 ">
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/gHo0uTguvtk?start=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12 ">
                <div>
                  <iframe width="100%" height="315" src="https://www.youtube.com/embed/kLQ3HojGdt8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-4 col-sm-4 col-xs-12 ">
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/K51qYl5nYsk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12 ">
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/gHo0uTguvtk?start=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12 ">
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/FGblukRWFRs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
        <br>
      </div>
    </section>

    <!-- documents and publications section -->
    <!--
    <section class="blog-list section" style="#FFFFFF;  padding: 20px; margin-top: -5%;">
      
      <div class="container">
        <div class="row">
          <div class="col-lg-2 col-md-2"></div>
          <div class="pull-left" style="display:inline-block">
            <p style="color:#0059E6; margin-top:20%;  font-family: 'bebasneue'; font-size: 1.5em;">DOCUMENTS AND PUBLICATIONS</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-2 col-md-2"></div>
          <div class="col-md-7 col-lg-7" style="width:27.77%; border:2px solid white; background:#D9D9D9; height: 5%; ">
          </div>
          <div class="col-md-7 col-lg-7" style="width:27.77%; border:2px solid white; background:#D9D9D9; height: 5%; ">
            
          </div>
          <div class="col-md-3 col-lg-3" style="width:27.77%; border:2px solid white; background:#D9D9D9; height: 5%; ">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-lg-2 col-md-2"></div>
          <div class="col-md-3 col-lg-3 col-sm-6 col-xs-6" style="width:27.77%; border:2px solid white; background:#D9D9D9; height: 5%; "><div></div>
          </div>
          <div class="col-md-3 col-lg-3 col-sm-6 col-xs-6" style="width:27.77%; border:2px solid white; background:#D9D9D9; height: 5%; "><div></div>
          </div>
          <div class="col-md-3 col-lg-3 col-sm-6 col-xs-6 " style="width:27.77%; border:2px solid white; background:#D9D9D9; height: 5%; "><div></div>
          </div>
        </div>
      </div>
    </section>
    -->
    <hr style="width:80%; margin-left: 16.67%; height: 3px; background:white; margin-bottom: 5%;  ">
    <section class="blog-list section" style="#FFFFFF;  padding: 20px; margin-top: -5%;">
      
      <div class="container">
        <div class="row">
          <div class="col-lg-2 col-md-2"></div>
          <div class="text-center" style="display:inline-block; margin-left:35%;">
            <p class="text-center" style="color:#0059E6; margin-top:20%;   font-family: 'Poppins', sans-serif; font-size: 1.5em;">RELATED STORIES</p>
          </div>
        </div>
        <style type="text/css">
          .news__header{
            font-family: 'Poppins', sans-serif;
            font-size:1.5em;
            font-weight: bold;
          }
          .news__summary {
            font-family: 'Karla', sans-serif;
            line-height: 1;
            margin-top:5%;
          }
          .hundred{
            width:100%;
          }
        </style>
        <div class="row">
          <div class="col-lg-2 col-md-2"></div>
          <div class="col-lg-10 col-md-10">
            <div class="row">
              <% if(news.length >= 4) {%>
                <% for (var i = 0; i < 4; i++) {%>
                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 news-item ">
                    <h4 class="news__header">Rural Roads Tarring</h4>
                    <img src="img/bg/infrastructure.png" class="img-responsive">
                    <p class="news__summary">With rain beating against our windows, going inside for some physical recreation may be safer than slipping on a sidewalk, even if it involves swords.</p>
                    <p class="news__further"><a href="/news.html">Read more</a></p>
                  </div>
                <% } %>
              <% } %>
              <% if(news.length < 4) { %>
                <% for (var i = 0; i < news.length; i++) {%>
                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 news-item ">
                    <h4 class="news__header">Rural Roads Tarring</h4>
                    <img src="img/bg/infrastructure.png" class="img-responsive">
                    <p class="news__summary">With rain beating against our windows, going inside for some physical recreation may be safer than slipping on a sidewalk, even if it involves swords.</p>
                    <p class="news__further"><a href="/news?id=news[i]['_id']">Read more</a></p>
                  </div>
                <% } %>
              <% } %>
            </div>
          </div>
        </div>
        <br>
      </div>
    </section>


    <%- include includes/footer %>
  </div>

<!-- SCRIPTS -->

<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/smoothscroll.js"></script>
<script src="js/jquery.validate.min.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/jquery.stellar.min.js"></script>
<script src="js/jquery.magnific-popup.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/interface.js"></script> 

<script type="text/javascript">
  var filterForm = document.getElementById('filterForm');
  filterForm.addEventListener('submit',function(e){
    e.preventDefault();
    var filters = {}
    filters['date'] = document.getElementById('date').value;
    filters['title'] = document.getElementById('title').value;
    filters['author'] = document.getElementById('author').value;
    var date_format = /\d{1,2}\-\d{1,2}\-\d{4}|\d{1,2}\/\d{1,2}\/\d{4}/i;
    if(filters['date']){
      if(date_format.test(filters['date'])){
        console.log('date search passed criteria')
      }
      else{
        alert('Please use the date format provided')
        document.getElementById('date').value = '';
        return;
      }
    }
    $.ajax({
      type: "POST",
      url: '/news',
      data: filters,
      success: function(response){
        var holder = '';
        var counter = response.length > 4?4:response.length;
        for(var i = counter-1; i >= 0; i--){
          holder += `<div class="col-lg-6 col-sm-12 col-xs-12 col-md-6" style="background: rgb(242,242,242); margin-top:2%; padding: 0px;">
                      <div class="col-lg-6 col-sm-6 col-xs-12 col-md-6" style="padding:0px">
                        <img style="margin-right:0px; padding:0px; margin-left: 0px; margin-right:0px; " src="${response[i]['main_image']}" class="img-responsive">
                      </div>
                      <div class="col-lg-6 col-sm-6 col-xs-12 col-md-6" style="padding-bottom:0%; ">
                        <h4 class="news__heading" >${response[i]['title']}</h4>
                        <p class="news__details" >${( new Date(response[i]['date_published'])).toLocaleDateString()} | ${response[i]['author']}</p>
                        <p class="news__summary"  >${response[i]['summary']}</p>
                        <p class="news__social" >
                          <a href="/news?id=${response[i]['_id']}" style=" font-size:0.8em; !important;">READ MORE</a>
                          <span class="pull-right" style="color:rgb(7,68,168); ">
                            <i class="fa fa-facebook " style="padding:0px 5px 0px 5px"> </i>
                            <i class="fa fa-twitter " style="padding:0px 5px 0px 5px"> </i>
                            <i class="fa fa-instagram " style="padding:0px 5px 0px 5px"> </i>
                          </span>
                        </p>
                      </div>
                    </div>`
        }
        document.getElementById('news-box').innerHTML = holder;
      },
    });
  })
</script>

</body>
</html>